@media screen and ( max-width: 400px ){

    li.page-item {

        display: none;
    }

    .page-item:first-child,
    .page-item:nth-child( 2 ),
    .page-item:nth-last-child( 2 ),
    .page-item:last-child,
    .page-item.active,
    .page-item.disabled {

        display: block;
    }
}
@media screen and ( min-width: 400px ) and ( max-width: 500px ){

    li.page-item {

        display: none;
    }

    .page-item:first-child,
    .page-item:nth-child( 6 ),
    .page-item:nth-last-child( 3 ),
    .page-item:last-child,
    .page-item.active,
    .page-item.disabled {

        display: block;
    }
}
@media screen and ( min-width: 500px ) and ( max-width: 600px ){

    li.page-item {

        display: none;
    }

    .page-item:first-child,
    .page-item:nth-child( 9 ),
    .page-item:nth-last-child( 3 ),
    .page-item:last-child,
    .page-item.active,
    .page-item.disabled {

        display: block;
    }
}

@media (min-width: 1600px) {
    .container-xxl {
        max-width: 1580px!important;
    }
}
@media (min-width: 1400px) {
    .container-xxl .col-lg-4 {
        flex: 0 0 auto;
        width: 25%;
    }
}
body.fullscreen .fullscreen-hidden {
    display: none!important;
}
body.fullscreen .page-body {
    margin: 0!important;
}
body.fullscreen .panel-header {
    margin-bottom: 1.25rem;
}

.theme-dark .apexcharts-menu {
    background-color: #1e293b;
}
@media (max-height: 1024px){

    body.fullscreen .panel-header {
        display: none!important;
    }
}
@media (max-height: 900px) {

    body.fullscreen .panel-header {
        display: none!important;
    }
}
#core {
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

/*
  is the same as:
*/
/*
.core {
    animation: strech 1.5s ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes stretch {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    30% {
        opacity: 1;
        transform: scale(1.2);
    }

    60% {
        opacity: 1;
        transform: scale(1.5);
    }

    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}*/
.core {
    fill: #ff4f81;
    animation: wifi_pulse 1.5s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes wifi_pulse {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1.5);
    }

}

